<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="./images/icons8-link-30.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Url Shortener</h1>
            <h3>The Best <span class="red">Quick</span> and <span class="blue">FREE</span> Url Shortener</h3>
        </div>
        <div class="form-container">
            <form action="/shortUrls" method="post">
                <input type="url" name="fullUrl" id="fullUrl" placeholder="Input The Url You Would Like To Shorten" required>
                <button type="submit" class="submit-btn">
                    Shrink
                </button>
            </form>
        </div>

        <table> 
            <thead>
                <tr>
                    <th>original URL</th>
                    <th>Shortened URL</th>
                    <th>click(s) amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(url => { %>
                <tr>
                    <td>
                        <a href="<%= url.fullUrl %>" target="_blank" rel="noreferrer">
                            <%= url.fullUrl %>
                        </a>
                    </td>
                    <td>
                        <a href="<%= url.shortUrl %>" target="_blank" rel="noreferrer">
                            /<%= url.shortUrl %>
                        </a>
                    </td>
                    <td>
                        <%= url.clicks %>
                    </td>
                    <td>
                        <form action="/deleteUrl" method="post" class="deleteForm">
                            <input type="hidden" name="id" value="<%= url.id %>">
                            <button type="submit">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>

        <div class="dev-info-container">
            <p>Check out my twitter(x) @<a href="https://x.com/ElijahAdebanwo" target="_blank" rel="noreferrer">Elijah Adebanwo</a></p>
        </div>
    </div>
</body>
</html>